

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
@*<script src="https://leafletjs.com/examples/map-panes/eu-countries.js"></script>*@


<style>

    html, body {
        height: 100%;
        margin: 0;
    }

    #map {
        width: 600px;
        height: 400px;
    }
</style>

<div id="map">

</div>

<script>

    var euCountries =
        {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "properties": {
                        "name": "Albania"
                    },
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                            [
                                [
                                    20.59024743010491,
                                    41.855404161133606
                                ],
                                [
                                    20.463175083099202,
                                    41.51508901627534
                                ],
                                [
                                    20.605181919037364,
                                    41.086226304685226
                                ],
                                [
                                    21.0200403174764,
                                    40.84272695572588
                                ],
                                [
                                    20.999989861747224,
                                    40.58000397395398
                                ],
                                [
                                    20.674996779063633,
                                    40.43499990494303
                                ],
                                [
                                    20.615000441172754,
                                    40.11000682225938
                                ],
                                [
                                    20.15001590341052,
                                    39.62499766698397
                                ],
                                [
                                    19.980000441170148,
                                    39.69499339452341
                                ],
                                [
                                    19.960001661873207,
                                    39.91500580500605
                                ],
                                [
                                    19.406081984136733,
                                    40.250773423822466
                                ],
                                [
                                    19.319058872157143,
                                    40.72723012955356
                                ],
                                [
                                    19.40354983895429,
                                    41.40956574153546
                                ],
                                [
                                    19.540027296637106,
                                    41.71998607031276
                                ],
                                [
                                    19.37176883309496,
                                    41.877547512370654
                                ],
                                [
                                    19.304486118250793,
                                    42.19574514420782
                                ],
                                [
                                    19.73805138517963,
                                    42.68824738216557
                                ],
                                [
                                    19.801613396898688,
                                    42.50009349219084
                                ],
                                [
                                    20.0707,
                                    42.58863
                                ],
                                [
                                    20.283754510181893,
                                    42.32025950781508
                                ],
                                [
                                    20.52295,
                                    42.21787
                                ],
                                [
                                    20.59024743010491,
                                    41.855404161133606
                                ]
                            ]
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {
                        "name": "Austria"
                    },
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                            [
                                [
                                    16.979666782304037,
                                    48.123497015976305
                                ],
                                [
                                    16.90375410326726,
                                    47.71486562762833
                                ],
                                [
                                    16.340584344150415,
                                    47.71290192320123
                                ],
                                [
                                    16.534267612380376,
                                    47.49617096616912
                                ],
                                [
                                    16.202298211337364,
                                    46.85238597267696
                                ],
                                [
                                    16.011663852612656,
                                    46.6836107448117
                                ],
                                [
                                    15.137091912504985,
                                    46.65870270444703
                                ],
                                [
                                    14.63247155117483,
                                    46.43181732846955
                                ],
                                [
                                    13.806475457421527,
                                    46.509306138691215
                                ],
                                [
                                    12.376485223040817,
                                    46.76755910906985
                                ],
                                [
                                    12.153088006243054,
                                    47.11539317482645
                                ],
                                [
                                    11.16482791509327,
                                    46.94157949481273
                                ],
                                [
                                    11.048555942436536,
                                    46.75135854754634
                                ],
                                [
                                    10.44270145024663,
                                    46.89354625099743
                                ],
                                [
                                    9.932448357796659,
                                    46.92072805438296
                                ],
                                [
                                    9.479969516649021,
                                    47.102809963563374
                                ],
                                [
                                    9.632931756232978,
                                    47.34760122332999
                                ],
                                [
                                    9.59422610844635,
                                    47.52505809182027
                                ],
                                [
                                    9.89606814946319,
                                    47.580196845075704
                                ],
                                [
                                    10.402083774465211,
                                    47.30248769793916
                                ],
                                [
                                    10.544504021861627,
                                    47.56639923765377
                                ],
                                [
                                    11.426414015354737,
                                    47.523766181012974
                                ],
                                [
                                    12.141357456112788,
                                    47.703083401065776
                                ],
                                [
                                    12.620759718484493,
                                    47.67238760028441
                                ],
                                [
                                    12.932626987365948,
                                    47.467645575544
                                ],
                                [
                                    13.02585127122049,
                                    47.63758352313583
                                ],
                                [
                                    12.884102817443903,
                                    48.28914581968792
                                ],
                                [
                                    13.243357374737,
                                    48.416114813829054
                                ],
                                [
                                    13.595945672264437,
                                    48.87717194273715
                                ],
                                [
                                    14.338897739324722,
                                    48.55530528420721
                                ],
                                [
                                    14.901447381254057,
                                    48.964401760445824
                                ],
                                [
                                    15.253415561593982,
                                    49.03907420510758
                                ],
                                [
                                    16.02964725105022,
                                    48.73389903420793
                                ],
                                [
                                    16.499282667718774,
                                    48.78580801044511
                                ],
                                [
                                    16.960288120194576,
                                    48.5969823268506
                                ],
                                [
                                    16.879982944413,
                                    48.47001333270947
                                ],
                                [
                                    16.979666782304037,
                                    48.123497015976305
                                ]
                            ]
                        ]
                    }
                }
            ]
        }


    var map = L.map('map');

    map.createPane('labels');

    // This pane is above markers but below popups
    map.getPane('labels').style.zIndex = 650;

    // Layers in this pane are non-interactive and do not obscure mouse/touch events
    map.getPane('labels').style.pointerEvents = 'none';


    var cartodbAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>';

    var positron = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
        attribution: cartodbAttribution
    }).addTo(map);

    var positronLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
        attribution: cartodbAttribution,
        pane: 'labels'
    }).addTo(map);

    geojson = L.geoJson(euCountries).addTo(map);

    geojson.eachLayer(function (layer) {
        layer.bindPopup(layer.feature.properties.name);
    });

    map.setView({ lat: 47.040182144806664, lng: 9.667968750000002 }, 4);


</script>