@model IEnumerable<Xdsoft.RTK.ExtCrmWeb.Models.Map.MapModel>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
@*<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>*@
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet-src.js" integrity="sha512-+ZaXMZ7sjFMiCigvm8WjllFy6g3aou3+GZngAtugLzrmPFKFK7yjSri0XnElvCTu/PrifAYQuxZTybAEkA8VOA==" crossorigin=""></script>


<style>

    html, body {
        height: 100%;
        margin: 0;
    }

    #iframemock {
        /*width: 1500px;
        height: 800px;*/
        width: 1850px;
        height: 720px;
    }

    #map {
        width: 100%;
        height: 100%;
        border: 5px;
        border-color: blue
    }
</style>

<div id="iframemock">
    <div id="map">

    </div>
</div>

<script>
    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        osm = L.tileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib }),
        bounds = new L.LatLngBounds(new L.LatLng(49.5, -11.3), new L.LatLng(61.2, 2.5));
    var map = new L.Map('map', {
        center: bounds.getCenter(),
        zoom: 7,
        layers: [osm],
        maxBounds: bounds
    });
    var latlngs = L.rectangle(bounds).getLatLngs();
    L.polyline(latlngs[0].concat(latlngs[0][0])).addTo(map);
    map.setMaxBounds(bounds);	// Should not enter infinite recursion
</script>

